beautifulsoup4
cmake
cython
datasets
evaluate
huggingface-hub
matplotlib
meson-python
ninja
numpy==1.26.4
nltk
openai
optimum
pandas
pipdeptree
playwright
poetry
pytest
pytest-asyncio
pytest-benchmark
pytest-mock
pytest-watcher
redis
requests
scikit-learn
scipy
sentence-transformers
spacy
tokenizers
torch
tqdm
transformers
umap-learn
unidecode
